{%extends "base.html"%}


    {%block content%}
        <img src="{{detalhes_anuncio.imagem.url}}">
        {{detalhes_anuncio.titulo}}
        
        {%if user.authenticated%}
            {%if detalhes_anuncio.usuario != user%}
                <a href="{% url 'start_chat' detalhes_anuncio.pk%}">
                Iniciar Conversa
                </a>
            {%endif%}
        {%endif%}
        
        {%if detalhes_anuncio.usuario == user%}
            <p><a href="{% url 'atualizar-anuncio-form' detalhes_anuncio.pk%}">Editar Anuncio</a></p>
            <p><a href="{% url 'excluir_anuncio' detalhes_anuncio.pk %}">Excluir Anuncio</a></p>
        {%endif%}
    {%endblock%}
    
    